:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;

    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;

    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;

    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;

    --color-bg: var(--nord0);
    --color-fg: var(--nord6);
    --color-primary: var(--nord8);
    --color-secondary: var(--nord9);
    --color-muted: var(--nord3);

    --font-sans: system-ui,-apple-system,Segoe UI,Roboto,Noto Sans,Ubuntu,Cantarell,Helvetica Neue;
}

a {
    color: var(--color-fg);
    text-decoration: none;
}

body {
    background: var(--color-bg);
    color: var(--color-fg);
    font-family: var(--font-sans);
    line-height: var(--line-md);
}

.container {
    max-width: var(--width-lg);
    margin: 0 auto;
}

.my-5 {
    margin: var(--size-5) 0;
}

.mt-5 {
    margin-top: var(--size-5);
}

.mb-5 {
    margin-bottom: var(--size-5);
}

.px-2 {
    padding: 0 var(--size-2);
}

.p-2 {
    padding: var(--size-2);
}

.p-5 {
    padding: var(--size-5);
}

.pl-10 {
    padding-left: var(--size-10);
}

h1 {
    font-weight: var(--weight-bold);
    font-size: var(--scale-2);
}

.link {
    padding: 0.5rem 1rem;
    color: var(--color-primary);
    cursor: pointer;
    font-weight: var(--weight-semibold);
}

.badge {
    font-size: var(--scale-00);
    background-color: var(--color-secondary);
    color: var(--color-fg);
    border-radius: var(--radius-md);
    padding: 2px 5px;
}

.clickable {
    cursor: pointer;
}

.comment-text p {
    padding: 0.25rem;
}

.flex {
    display: flex;
}

.muted {
    color: var(--color-muted);
}

.text-sm {
    font-size: var(--scale-00);
    line-height: var(--line-xs);
}

.feed-link {
    color: var(--color-fg);
}

.feed-link.active {
    border-bottom: var(--size-1) solid var(--color-primary);
}

.comment-body {
    border-left: 1px solid var(--color-muted);
    margin-top: var(--size-2);
    padding: 0 var(--size-5);
}

.comment-text a {
    color: var(--color-fg);
    text-decoration: underline;
}

.divide {
    border-bottom: var(--size-1) solid var(--color-primary);
}
